.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  object-fit: cover;
}


.menu-bar {
  background-color: #2de0b4;
  align-self: top;
  align-content: center;
  display: flex;
  justify-content: center;  
  min-width: 375px;
  margin: 0;
}
 
.menu-item {
  /*necessary to make keep the links to other pages centered well on other devices*/
  margin-right: 10px;
  margin-left: 10px; 
}
 
.App-header {
  background-color: #7fcec5;
  background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  min-width: 375px;
}
 
.student-info {
  font-style: italic;
}

 li::marker {
  /*links had a bullet attached. this CSS made the markers invis*/
  color: #2de0b4;
  font-size: 0;
}

.user-manual {
  margin-left: 50px;
  margin-right: 50px;
}

.user-manual-title {
  border-bottom: dotted;
}

.MuiCardHeader-content {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:active, a:hover {
  color:white
}

.timer {
  font-size: large;
  font-weight: 500;
}
