.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  object-fit: cover;
}
 
.menu-bar {
  background-color: #2de0b4;
  align-self: top;
  align-content: center;
  display: flex;
  justify-content: center;
}
 
.menu-item {
  margin-right: 10px;
  margin-left: 10px;
}
 
.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
}
 
 .student-info {
   font-style: italic;
 }

 li::marker {
  /*links had a bullet attached. this CSS made the markers invis*/
  color: #2de0b4;
  font-size: 0;
}
 
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
 
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/


